/* Fonts */

@font-face {
    font-family: BebasNeueBold; 
    src: url(../fonts/BebasNeueBold.ttf); 
   }
@font-face {
    font-family: BebasNeueBook; 
    src: url(../fonts/BebasNeueBook.ttf); 
   }
@font-face {
    font-family: BebasNeueLight; 
    src: url(../fonts/BebasNeueLight.ttf); 
   }
@font-face {
    font-family: BebasNeueRegular; 
    src: url(../fonts/BebasNeueRegular.ttf); 
   }
@font-face {
    font-family: BebasNeueThin; 
    src: url(../fonts/BebasNeueThin.ttf); 
   }
   

body {
    padding-top: 90px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: Roboto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 100vh;
}


@media screen and (max-width: 1200px){
  body {
    background-image: none;}
}


/* Headings */
.head-mg{margin-bottom: 35px;font-family: "Roboto Condensed";}
/* Buttons */
.btn-primary {
    color: #fff;
    background-color: #9e332c;
    border-color: #5c0600;
}
.btn-primary:active, .btn-primary:hover, .btn-primary:focus{
    background-color: #c7544c;
    border-color: #5c0600;
}

}
/* Top Navigation */
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}
.navbar {
    min-height: 70px;
    background-color: #5C0600;
    border-color: #4B0905;
    font-family: "Open Sans Condensed";
}
.navbar-brand {
    height: 70px;
    padding: 5px 20px;
}
.navbar-inverse .navbar-nav>li>a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    font-family: "Roboto";
    color: #fff;
} 
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #7D0A03;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #7D0A03;
}

.dropdown-user-title, .user-auth-header a {
    font-size: 1em!important;
    font-weight: 400!important;
    text-transform: none!important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #7D0A03;
}
.dropdown-user {
    font-family: Arial,Helvetica,sans-serif;
}
#user-logo-header {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border-radius: 50%;
    background: #fff center no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.dropdown-user-title {
    padding-top: 20px!important;
    padding-bottom: 15px!important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #a94442;
}


/* Pagination */
.pagination>li>a, .pagination>li>span {
    color: #7D0A03;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #6B4947;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #7D0A03;
    border-color: #5C0600;
}


/* Footer */
footer {
    padding: 10px 0 0 0;
    background-color: #7d0a03;
    color: white;
}
#footer-bottom {
    background-color: #5c0600;
    padding-top: 15px;
    padding-bottom: 5px;
}
#footer-top {
     padding-bottom: 25px;
}
.contact-footer-icon{
    border: 2px solid transparent;
    padding: 6px;
    border-radius: 36px;
    background: #FFF;
    color: #7d0a03;
}
.vk-footer-icon {
    border: 2px solid transparent;
    padding: 6px;
    border-radius: 36px;
    background: #31708f;
    color: #eee;
}
footer h3 {
    font-weight: 300;
}
.footer-link {
    line-height: 40px;
}


/* Forecasts */
.forecast-title a {
    color: #7D0A03;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    text-decoration: none;
}
.forecast-time {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-size: 1.1em;
    color: #8A8A8A;
}
.forecast-preview .btn, .forecast-preview .btn:active
, .forecast-preview .btn:focus {
    background-color: #7D0A03;
    border-color: #5C0600;
}
.forecast-preview .btn:hover {
    background-color: #6D0700;
}

/* Vertical Tabs */ 
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
  color: #7b0a01;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.sideways {
  margin-top:50px;
  border: none;
  position: relative;
}
.sideways>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.sideways>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.sideways.tabs-left {
  left: -50px;
}
.sideways.tabs-right {
  right: -50px;
}
.sideways.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sideways.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


/* Mobile Fix */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background: transparent;
}
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom:25px;
    }
}
.navbar-inverse .navbar-toggle {
    border: none;
    margin-top: 19px;
    margin-right: 10px;
}

/* Login/Sign Up */
#btn-vksignup, #btn-vklogin {
    background-color: #4c75a3;
}
.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #7d0a03;
    border-color: #7d0a03;
}
.panel-info {
    border-color: #c2b5b5;
}
.panel-heading a {
    color: #ffffff;
}

/* Account Page */
.account-content {
    min-height: 54vh;
    padding-bottom: 35px;
}
a.btn.btn-sm.s-btn-social.s-vk.j-my-social-btn {
    background: #4474a3;
    border-color: #4474a3;
    color: #fff;
    font-size: 14px;
}
a.btn.btn-sm.s-btn-social.s-fb.not-active.j-my-social-btn {
    color: #fff;
    font-size: 14px;
    background: #3b5998;
    border-color: #3b5998;
}
.users-table .glyphicon {
    margin-right: 5px;
}


/* Box icon */
.box-icon {
  text-align: center;
  position: relative;
}

.box-icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #7d0a03;
  vertical-align: middle;
}

.box-icon:hover > .image {
  background: #d1a920;
}

.box-icon > .image > i {
  font-size: 36px !important;
  color: #fff !important;
  line-height: 1;
  display: inline-block;
}

.box-icon:hover > .image > i {
  color: white !important;
}

.box-icon > .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
}

.box-icon:hover > .info {
  background: rgba(0, 0, 0, 0.04);
  border-color: #e0e0e0;
  color: white;
}

.box-icon > .info > h3.title {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  color: #222;
  font-weight: 500;
}

.box-icon > .info > p {
  font-family: "Roboto", sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}

.box-icon:hover > .info > h3.title,
.box-icon:hover > .info > p,
.box-icon:hover > .info > .more > a {
  color: #222;
}

.box-icon > .info > .more a {
  font-family: "Roboto", sans-serif !important;
  font-size: 12px;
  color: #222;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.box-icon:hover > .info > .more > a {
  color: #fff;
  padding: 6px 8px;
  background-color: #ff0000;
}

.box .space {
  height: 30px;
}
 /*Slider*/
#owl-slider .item img{ 
    display: block;
    width: 100%;
    height: auto;
}


.conversation-wrap{
        box-shadow: -2px 0 3px #ddd;
        padding:0;
        max-height: 400px;
        overflow: auto;
    }
.conversation{
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }


    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }
	
	
	
	
	
	
	
	
	
